[submodule "ninja_dashboard"]
	path = ninja_dashboard
	url = git@github.com:viernes/ninja_dashboard.git
	branch = V13

[submodule "default_interest"]
	path = default_interest
	url = git@github.com:xmarts/default_interest.git
	branch = main

[submodule "manufacturing-cost"]
	path = manufacturing-cost
	url = git@github.com:xmarts/manufacturing-cost.git
	branch = master

[submodule "mrp_frescopack"]
	path = mrp_frescopack
	url = git@github.com:xmarts/mrp_frescopack.git
	branch = 13.0

[submodule "payment_program"]
	path = payment_program
	url = git@github.com:xmarts/payment_program.git
	branch = main

[submodule "print_journal_entries"]
	path = print_journal_entries
	url = git@github.com:xmarts/print_journal_entries.git
	branch = master

[submodule "report-of-purse-1"]
	path = report-of-purse-1
	url = git@github.com:xmarts/report-of-purse-1.git
	branch = 13.0

[submodule "report-of-wallet"]
	path = report-of-wallet
	url = git@github.com:xmarts/report-of-wallet.git
	branch = 13.0

[submodule "xma_mrp_frescopack"]
	path = xma_mrp_frescopack
	url = git@github.com:xmarts/xma_mrp_frescopack.git
	branch = 13.0
[submodule "credit_limit_alert"]
	path = credit_limit_alert
	url = git@gitlab.com:xmarts/xmarts-apps/credit_limit_alert.git
[submodule "invoice_count"]
	path = invoice_count
	url = git@gitlab.com:xmarts/xmarts-apps/invoice_count.git

[submodule "account-financial-reporting"]
	path = account-financial-reporting
	url = git@github.com:OCA/account-financial-reporting.git
	branch = 13.0

[submodule "mail_tracking"]
	path = mail_tracking
	url = git@github.com:xmarts/mail_tracking.git
	branch = 13.0

[submodule "reporting-engine"]
	path = reporting-engine
	url = git@github.com:OCA/reporting-engine.git
	branch = 13.0

[submodule "server-ux"]
	path = server-ux
	url = git@github.com:OCA/server-ux.git
	branch = 13.0
